.test {
  width: 520px;
  height: 320px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #01b075;

  border: 5px solid #202125;
  border-radius: 24px;
  cursor: pointer;

  font-size: 36px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.test:hover {
  background-color: #0f2d69;
}
