name: CI

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install deps
        run: |
          cd frontend
          npm install

      - name: Test
        run: |
          cd frontend
          npm test

      - name: UploadArtifacts
        uses: actions/upload-artifact@v3
        with:
          name: TestResults
          path: |
            frontend/test-report.xml
  
  delivery-frontend:
    runs-on: ubuntu-latest

    if: ${{ always() && contains(join(needs.*.result, ','), 'success') }}
    needs: [ci]

    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ./frontend
          push: true
          tags: projectpi/frontend:latest



  # delivery-backend:
